<h1>About Us</h1>
<p class="large left">
  Everyday in life there is an “It's Ridic!” moment or action.  Something which is so absolutely ridiculous it doesn't even deserve the “ulous”. <br/><br/>

  “Let's start up a company”... “It's Ridic!”  and so it was as it is.<br/><br/>

  Formed in Knoxville, Iowa, It's Ridic! is the result of two bored with work individuals. Taking a break from corporate America, we have set out on a path in life to unearth our life's passions.  It's Ridic! will hopefully be up to a multitude of tasks!  Our immediate plan is to order and test products we wish to use personally.  If those items are up to par; we will brand them and hopefully have you enjoying the products we enjoy!  We also are capable of creating efficient and useful web pages such as the one you are visiting now.  Who knows what is to come but if you have found our page; you must have something in common with one of us!  It's Ridic!  
</p>