<div class="container">
  <h1>About Us</h1>
  <p class="large left">
  <p>IT'S RIDIC! LLC. Profile</p>

  <p>Founded in Knoxville, IA on June 5, 2015, IT'S RIDIC! LLC is unique to specialize in 2 business areas.</p>
  <ol>
    <li>An e commerce business focused on selling quality products at competitive prices.  The company is dedicated to product quality research versus cost analysis in order to provide quality products to consumers at the lowest prices possible.  The company will also strive to provide the lowest possible cost on lower quality disposable items for those not looking to spend major money on daily use items.</li>
    <li>A technology driven business in creating web applications, custom programs, and web pages. With a management team experienced in a technology background; we are able to create applications/programs/sites to drive efficiency and productivity within our organization as well as customer organizations.</li>
  </ol>

  <p>IT'S RIDIC! LLC. is currently focused on selling products via Amazon Prime while creating web applications to seamlessly migrate sales/expense data from Amazon into Quick Books.   The company will offer great products with guaranteed satisfaction.  Our customer support/service will be courteous, friendly, and convenient.</p>

  <p><strong>Management Team (also owned and operated by)</strong></p>
  <p><strong>Nate Dalo (nate at itsridic.com)</strong> – Chief Technology Officer with over 18 years of self taught/college/on the job computer knowledge.  With the passion of problem solving and programming, Nate can solve a wide variety of problems and develop complex applications to drive efficiency.   From an Electro-Optical Ordnance Repair Technician in the United States Marine Corps to a Technical Support Engineer for ISC Group, LLC. to a Tier 2 Technical Support Rep at JDS Solutions Corp to an independent contractor for multiple companies; Nate has a variety of projects and implementations to improve efficiency under his belt.  His task for IT'S RIDIC! LLC – to improve business efficiency between our selling outlets and accounting methodologies.</p>

  <p><strong>Denay Marsh (denay at itsridic.com)</strong>– Chief Executive Officer with over 14 years of technology / business experience.  Her passion is to someday create jobs within her community.  With a MIS degree/CIS minor from the University of Northern Iowa, Denay has worked through years of technical support, project coordination, and documentation building.  EMC Insurance Companies helped kick off her career in the technology field  while her work with JDS Solutions Corporation furthered her business concepts knowledge. Denay came to the realization business concepts/design were more her passion than computers and moved onto this realm at JDS.  The passion for business concepts took her to the position of Director of the Implementation Department at JDS.  Wanting to implement and learn new business practices but create more jobs within her community; she has moved on to owning/running the business operations of IT'S RIDIC! LLC.</p>

  <p>Head Office – 601 S. 3rd St, Knoxville, IA 50138.</p>
  <p>Registered with the Secretary of the State and hold proper tax permits for e commerce with Amazon Sales Tax Nexus in Arizona, California, Florida, Indiana, Iowa, Kansas, Kentucky, Nevada, New Jersey, Pennsylvania, South Carolina, Tennessee, Texas, Virginia, Washington, Wisconsin.</p>

  <p>The Name?</p>
  <p>Everyday in life there is an “It's Ridic!” event, action, or idea.  Something which is so absolutely ridiculous it doesn't even deserve the “ulous”.   We enjoy using the phrase daily which makes it fun to use in our daily business endeavors.</p>

  <p>Products</p>
  <ol>
    <li>Recreation – Hacky Sacks aka footbags</li>
    <li>Apparel – Gloves, Shirts, Socks</li>
    <li>Tools – Flashlights</li>
    <li>Pets – Leashes and collars</li>
    <li>Décor – Crystal Monkeys</li>
  </ol>

  <p>Services</p>
  <ol>
    <li>Web App Development – Custom web apps to meet your business logic, design, and needs</li>
    <li>Customer Programs – Fluent in over 6 million forms of communication.</li>
    <li>Troubleshooting – Something not working right?  Let us help!</li>
  </ol> 
  </p>
</div>
