<h1 class="welcome">Welcome To</h1>

<div class="row">
  <div class="span4"></div>
  <div class="span4"><%= image_tag("ItsRidic2.png", class: "center-block img-responsive") %></div>
  <div class="span4"></div>
</div>

<p class="large">
  Welcome to It's Ridic!  This is the website about all products that are "ridic".<br/>  Check out the <%= link_to "About Us", about_path %> page to learn more.
</p>

<p class="large">
  In the meantime, why not take a look at some of our other services?  Shoot us an <%= mail_to "info@itsridic.com", "email" %> if you're interested!
</p>
<div class="section" id="services">
  <div class="row">
    <div class="col-md-6">
        <h2>Web Development</h2>
        <ul>
          <li>
            <strong>Cheap!</strong> - Creating a custom website for your organization does not have to be expensive!
          </li>
          <li>
            <strong>Responsive!</strong> - Your website will look good on any device: Desktops, Laptops, Tablets, and Mobile Phones.
          </li>
          <li><strong>Fast!</strong> - We can get a working prototype of your website up very quickly and then work together to make the final tweaks!</li>
        </ul>
    </div>
    <div class="col-md-6">
      <h2>Web Application Development</h2>
      <p class="left">
        Using the latest web technologies and frameworks, we can design and create custom, database driven web applications that work in any browser.
      </p>
    </div>
  </div>
</div>