@import "bootstrap-sprockets";
@import "bootstrap";
@import "main";
@import 'slick';
@import 'slick-theme';
@import 'products';

@font-face {
    font-family: 'Nervous';
    src: font-url('Nervous.eot');
    src: font-url('Nervous.eot?iefix') format('eot'),
         font-url('Nervous.woff') format('woff'),
         font-url('Nervous.ttf') format('truetype'),
         font-url('Nervous.svg#webfont') format('svg');
}

h3 {
  color: #787878;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

h1.welcome {
  text-align: center;
  font-family: "Nervous";
  font-size: 4.5em;
  color: black;
  font-weight: normal;
  margin-top: 0px;
}

p.intro {
  text-align: center;
  font-size: 1.5em;
}

p.large {
  font-size: 1.5em;
}

p.left {
  text-align: left;
}

* {
  font-family: 'Raleway', sans-serif;
}
.navbar {
  background-color: #384452;
}

.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #33CCFF;
}

a {
  transition: background-color .4s linear, color .4s linear
}

.navbar-default .navbar-brand {
  color: white;
}

.tagline {
margin-bottom: 60px;
}

#headerwrap {
  min-height: 550px;
  padding-top: 100px;
  padding-bottom: 0px;
  text-align: center;
}

#services {
  color: #4E4E4E;
  padding: 5px 5px 5px 5px;
}

#services h2 {
  text-align: center;
}

.callout {
  background-color: #303030;
  color: white;
  text-align: center;
}

li {
  text-align: left;
}

#services li {
  font-color: black;
}

.color-green {
  float: left;
  color: #126342;
  height: 2.5rem;
  width: 2.5rem;
  background-image: image-url('greenbox.png');
}

.color-grey {
  float: left;
  color: #2C2C2E;
  height: 2.5rem;
  width: 2.5rem;
  background-image: image-url('greybox.png');
}

.color-navyblue {
  float: left;
  color: #000000;
  height: 2.5rem;
  width: 2.5rem;
  background-image: image-url('navybluebox.png');
}

.color-offwhite {
  float: left;
  color: #E7E3C8;
  height: 2.5rem;
  width: 2.5rem;  
  background-image: image-url('offwhitebox.png');
}

.color-orange {
  float: left;
  color: #FA4B20;
  height: 2.5rem;
  width: 2.5rem;  
  background-image: image-url('orangebox.png');
}

.color-pink {
  float: left;
  color: #FA4298;
  height: 2.5rem;
  width: 2.5rem;  
  background-image: image-url('pinkbox.png');
}

.color-red {
  float: left;
  color: #DE1774; 
  height: 2.5rem;
  width: 2.5rem;  
  background-image: image-url('redbox.png');
}

.color-sapphireblue {
  float: left;
  color: #2B29B0;
  height: 2.5rem;
  width: 2.5rem;  
  background-image: image-url('sapphirebluebox.png');
}

.color-yellow {
  float: left;
  color: #F7DB4C; 
  height: 2.5rem;
  width: 2.5rem;  
  background-image: image-url('yellowbox.png');
}

.color-acidblue {
  float: left;
  color: #23A2C3;
  height: 2.5rem;
  width: 2.5rem;
  background-image: image-url('acidbluebox.png');
}

.color-tshirtgreen {
  float: left;
  color: #23A2C3;
  height: 2.5rem;
  width: 2.5rem;
  background-image: image-url('shirtgreenbox.png');
}

.color-tshirtblack {
  float: left;
  color: #23A2C3;
  height: 2.5rem;
  width: 2.5rem;
  background-image: image-url('shirtblackbox.png');
}

.color-tshirtblue {
  float: left;
  color: #23A2C3;
  height: 2.5rem;
  width: 2.5rem;
  background-image: image-url('shirtbluebox.png');
}

.color-tshirtgrey {
  float: left;
  color: #23A2C3;
  height: 2.5rem;
  width: 2.5rem;
  background-image: image-url('shirtgreybox.png');
}

.nonum {
  list-style-type: none;
}

.blog h1 {
  color: #424242;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.slick-prev::before, .slick-next::before {
  color: #000;
}

.slick-next {
  right: -1px;
}

.slick-prev {
  left: -25px;
}

.blog-title {
  font-size: 2.5rem;
  color: #424242;
}

.blog-body {
  font-size: 1.9rem;
}

.blog {
  margin-top: 2%;
  margin-bottom: 2%;
  h1 {
    color: #424242;
  }

  .blog-body {
    font-size: 1.9rem;
    margin: 0;
    padding: 0;
    line-height: 100%;
    p {
      margin: 2px;
    }
  }
}

.tag {
  background-color: #C52D2F;
  color: white;
  padding: 5px;
  border-radius: 4px;
}

blockquote {
  background: #f9f9f9;
  border-left: 15px solid #C42C2E;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
