/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: "Nervous";
    src: url(Nervous.ttf) format("truetype");
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

h1.welcome {
  text-align: center;
  font-family: "Nervous";
  font-size: 4.5em;
}

p.intro {
  text-align: center;
  font-size: 1.5em;
}

p.large {
  font-size: 1.5em;
}

p.left {
  text-align: left;
}

* {
  font-family: 'Raleway', sans-serif;
}
.navbar {
  background-color: #384452;
}

.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #33CCFF;
}

a {
  transition: background-color .4s linear, color .4s linear
}

.navbar-default .navbar-brand {
  color: white;
}

.tagline {
margin-bottom: 60px;
}

#headerwrap {
  min-height: 550px;
  padding-top: 100px;
  padding-bottom: 0px;
  text-align: center;
}

h3 {
  color: white;
}

#services {
  background-color: #384452;
  color: white;
}

#services h2 {
  text-align: center;
}

.callout {
  background-color: #303030;
  color: white;
  text-align: center;
}