    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    It's Ridic, LLC
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><%= link_to "Home", root_path %></li>
                        <li><%= link_to "About Us", about_path %></li>
                        <li><%= mail_to "info@itsridic.com", "Contact Us" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
